html,
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #ffedc2;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  margin: 0;
  margin-bottom: 16px;
}

h2 {
  margin: 0;
  margin-bottom: 12px;
}

h3 {
  margin: 0;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
  margin: 0;
}
